<nb-card>
    <nb-card-body>
        <nb-stepper #stepper>
            <nb-step [stepControl]="firstForm" label="Person">
                <form [formGroup]="firstForm" (ngSubmit)="OnFirstSubmit()" class="step-container form-inline">

                    <div class="col-md-6">
                        <input nbInput fullWidth type="email" status="primary" (change)="OnSearchJogador()" placeholder="E-mail" id="email" [(ngModel)]="model.email" name="email" formControlName="email">
                    </div>

                    <div class="col-md-8">
                        <input nbInput fullWidth type="text" placeholder="Name" maxlength="100" id="name" [(ngModel)]="model.name" name="name" formControlName="name">
                    </div>

                    <div class="col-md-12">
                        <button nbButton nbStepperNext>next</button>
                    </div>

                </form>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Address">
                <form [formGroup]="secondForm" (ngSubmit)="OnSecondSubmit()" class="step-container">

                    <div class="col-md-2">
                        <input nbInput fullWidth (change)="OnSearchCep()" mask='000000-000' status="primary" type="text" placeholder="Cep for search..." id="cep" [(ngModel)]="address.cep" name="model.address.cep" formControlName="cep">
                    </div>

                    <div class="col-md-6">
                        <input nbInput fullWidth type="text" maxlength="250" placeholder="Local" id="localidade" [(ngModel)]="address.localidade" formControlName="localidade">
                    </div>

                    <div class="col-md-1">
                        <nb-select selected="1" id="uf" fullWidth [(ngModel)]="address.uf" formControlName="uf">
                            <nb-option value="PE">PE</nb-option>
                            <nb-option value="BA">BA</nb-option>
                            <nb-option value="BA">BA</nb-option>
                            <nb-option value="RJ">RJ</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md-4">
                        <input nbInput fullWidth type="text" maxlength="50" placeholder="District" id="bairro" [(ngModel)]="address.bairro" formControlName="bairro">
                    </div>

                    <div class="col-md-4">
                        <input nbInput fullWidth type="text" maxlength="250" placeholder="Street" id="logradouro" [(ngModel)]="address.logradouro" formControlName="logradouro">
                    </div>
                    <div class="col-md-9">
                        <textarea rows="5" nbInput fullWidth shape="round" maxlength="250" placeholder="Complement" [(ngModel)]="address.complemento" id="complemento" formControlName="complemento" placeholder="Complemento"></textarea>
                    </div>

                </form>
                <div class="col-md-12">
                    <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton nbStepperNext>next</button>
                </div>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Third step">
                <form [formGroup]="thirdForm" (ngSubmit)="OnThirdSubmit()" class="step-container">
                    <input nbInput type="text" status="primary" [(ngModel)]="model.estilo" id="estilo" formControlName="estilo" placeholder="Estilo. Ex: Mono Black">
                    <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton (click)="OnSave()" nbStepperNext>Confirm</button>
                </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
                <div class="step-container">
                    <h3>Player completed!</h3>
                    <button nbButton (click)="stepper.reset()">Finalizado</button>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>