<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Buscar</nb-card-header>
            <nb-card-body>
                <nb-search type="rotate-layout" tag="rotate-layout"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<nb-card>
    <nb-card-header>
        Cartas
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>